@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  background-color: black;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 0.3;
  width: 100px;
  height: 100px;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
